{% extends "index.html" %}

{% block content %}

{% if user.is_authenticated %}
 <!-- if user is login plot its data the aunthetic user code goes here-->
 <h1>Hello, {{user.first_name}}!!! Laude</h1>
{% else %}
<div class="row justify-content-center my-3">
    <div class="col-5">
        <div style="max-width: 900px; max-height: 500px;">
            <canvas id="myChart" width="900" height="500"></canvas>
        </div>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-md-9 text-center">
      <h1 id="hometext" class="font-weight-bold">Soil Moisture💧</h1>
    </div>
  </div>

    <script>
        var dataObj={
        type: 'line',
        data: {
            labels: [1,2,3,4,5,6],
            datasets: [{
                label: 'Node1',
                borderColor:'red',
                data: [0,20,45,65,80,100],
            },
            {
                label: 'Node 2',
                borderColor:'blue',
                data: [0,40,65,75,60,80],
            },
            {
                label: 'Node 3',
                borderColor:'green',
                data: [0,35,65,75,40,60],
            },
            {
                label: 'Node 4',
                borderColor:'yellow',
                data: [0,40,65,70,20,100],
            },
            {
                label: 'Node 5',
                borderColor:'black',
                data: [0,45,60,80,70,110],
            }
            ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                }
            }
        }
        var ctx = document.getElementById('myChart').getContext('2d');
        window.myLine = new Chart(ctx,dataObj );
        </script>
{% endif %}
{% endblock %}